/* ------------------ Header ------------------ */
.region-top-header {
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
}
.navbar-brand img {
    width: 300px;
}

.block-simple-blockphone-block a {
    color: $dark-gray;
}

#navbar-top {
    padding: 1rem;

    #block-local-phone {
        padding-top: 7px;

        p {
            margin-bottom: 0;
        }
    }
    .phone-number {
        font-size: 22px;
    }
}

#navbar-top.navbar-dark .nav-link:hover,
#navbar-top.navbar-dark .nav-link:focus {
    background-color: $white;
    color: $dark-gray;
}

#navbar-top.navbar-dark .nav-link {
    color: $white;
}

#navbar-main.navbar-dark .dropdown-menu .dropdown-item {
    border-bottom: 1px solid $white;
    &:hover,
    &:focus,
    &.active {
        background-color: $gray;
        a {
            color: $white;
        }
    }

    &:last-child {
        border-bottom: 0;
    }
}

#navbar-top.navbar-light .nav-link:hover,
#navbar-top.navbar-light .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
}

#navbar-top.navbar-light .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-brand .site-logo {
    margin-right: 1rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: $white;
}

#navbar-main .dropdown-menu .dropdown-item {
    padding: 10px 25px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 15px 25px;
}

.navbar {
    text-transform: uppercase;
}

.dropdown-menu {
    background-color: $dark-gray;
    border: 0;
    border-radius: 0;
    
    a {
        color: $white;
    }
}

.dropdown-toggle-split {
    padding: 15px 20px 0 0;
}

.navbar-toggler-icon:after {
    color: $white;
    content: 'Menu';
    display: inline-block;
    padding: 5px 50px;
}

@media (min-width: 47.9em) {
    .navbar {
        padding: 0;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        &.parent-link {
            padding: 15px 10px 15px 25px;
        }
    }

    .dropdown-menu {
        border-bottom: 1px solid $white;
        margin-top: 0;
        padding: 0;

        &.column-split {
            column-count: 2;

            li {
                break-inside: avoid-column;
            }
        }
    }

    .dropdown:hover > .dropdown-menu {
        display: block;

    }

    .navbar-dark .navbar-nav li.dropdown.show {
        background-color: $white;

        > a {
            color: $dark-gray;
        }
    }

    #navbar-main.navbar-dark .dropdown-menu .dropdown-item.bottom {
        // @see global.js to see how .bottom gets added.
        border-bottom: 0;
    }
}

@media (max-width: 33.9em) {
    .navbar-toggleable-xs .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }
}

@media (max-width: 47.9em) {
    .navbar-toggleable-sm .navbar-nav .nav-item+.nav-item,
    .navbar-toggleable-xs.collapse.in .navbar-nav .nav-item {
        margin-left: 0;
        float: none;
    }

    .navbar {
        padding: 0;
    }

    #navbar-main.navbar-dark .navbar-collapse {
        background-color: $dark-gray;

        .navbar-nav .nav-item {
            border-bottom: 1px solid $white;
        }

        .dropdown-menu .dropdown-item {
            margin-left: 50px;
            width: calc(100% - 70px);
        }
    }
}